# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Build output
out/
build/
target/
bin/

# Maven
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.swp
*.tmp

# Java
*.class

# Other
hs_err_pid*
