**/target/
Cargo.lock
**/*.rs.bk
*.pdb
.DS_Store
*.log

*.exe
*.exe~
*.dll
*.so
*.dylib
*gradlew
*.test
*.bat
*.jar
*.out
coverage.*
*.coverprofile
profile.cov
go.work
go.work.sum
**/vendor/
.env
.idea/
*.iml
*.iws
*.ipr
out/
build/
target/
bin/
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar
*.log
.DS_Store
Thumbs.db
*.swp
*.tmp
*.class
*.properties
hs_err_pid*
